{% load static %}
<header class="header">
  <div class="container container--narrow">
    <a href="{% url 'projects:projects' %}">
      <img src="{% static 'images/222.png' %}" width="100" height="48"/>
    </a>
    <nav class="header__nav">
      <input type="checkbox" id="responsive-menu" />
      <label for="responsive-menu" class="toggle-menu">
        <span>Menu</span>
        <div class="toggle-menu__lines"></div>
      </label>
      <ul class="header__menu">
        <li class="header__menuItem"><a href="index.html">Developers</a></li>
        <li class="header__menuItem"><a href="{% url 'projects:projects' %}">Posts</a></li>
        <li class="header__menuItem"><a href="inbox.html">Inbox</a></li>
        <li class="header__menuItem"><a href="{% url 'projects:create_project' %}">Add post</a></li>
        <li class="header__menuItem"><a href="login.html" class="btn btn--sub">Login/Sign Up</a></li>
      </ul>
    </nav>
  </div>
</header>